body {
	font-family: 'Oxanium';
}

p {
	margin-bottom: 0;
}

/*h2 headers*/
h2 {
	border-left: 5px solid #ff6a00;
	padding-left: 20px;
}

/* Icons */
.icons {
	color: #ff6a00;
}

/* Links */
a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* hr */
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Sections */
section {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 1.66%;
	margin-right: 1.66%;
}




/* ---------------------------------------------------
--------------- SIDEBAR STYLE ---------------
----------------------------------------------------- */


/* Dismiss Button */
#dismiss {
	display: none;
}

/* Sidebar */
#sidebar {
	width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 999;
	background: #2d2b29;
	color: #fff;
	transition: all 0.3s;
	border-right: 2px solid #ff6a00;
	margin-left: -300px;
	overflow-y: auto;
	
}

/* Scroll Bar */
/* Width */
::-webkit-scrollbar {
	width: 7px;
	
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2d2b29;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}



#sidebar.active {
	margin-left: 0;
}

/* Sidebar Header */

.sidebar-header img {
	width: 100%;
}

#sidebar .sidebar-header {
	background: #2d2b29;
	margin: 20px 30px;
	padding: 0;
	
}


/* Components: Seach Bar & Categories */
#sidebar ul.components {
	padding: 20px 0;
	background: #2d2b29;
	border-top: 2px solid #ff6a00;
}

/* Sidebar Search Bar */
/* Input */
#keyword {
	width: 240px;
}


/* Categories */
#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: rgb(228, 102, 6);
	background:  #f7f8f8;
}

#sidebar ul li a:active {
	color: rgb(228, 102, 6);
	background:  #f7f8f8;
}


.dropdown-toggle:active {
	color: rgb(228, 102, 6);
}


/* Split Button Container */
/* Split Button Container (Level 1) */
#sidebar .splitButtonOne {
	width: 100%;
}

/* Split Button Container (Level 2) */
#sidebar .splitButtonTwo {
	width: 100%;
}

/* Category Text */
/* Category Text (Level 1) */
#sidebar .categoryTextOne {
	width: 100%;
	font-size: 1.1rem;
	
}

/* Category Text (Level 2) */
#sidebar .categoryTextTwo {
	width: 100%;
	font-size: 1.1rem;
	padding-left: 30px;
}

/* Category Text (Level 3) */
#sidebar .categoryTextThree {
	width: 100%;
	font-size: 1.0rem;
	padding-left: 50px;
}

#sidebar .categoryTextThree:hover {
	padding-left: 60px;
}


/* Dropdown Icon (Level 1) */
.dropdownIconOne {
	width: 58px;
	border-left: 5px solid #ff6a00;
	text-align: center;
}

/* Dropdown Icon (Level 2) */
.dropdownIconTwo {
	width: 58px;
	border-left: 5px solid rgba(255, 106, 0, 0.3);
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
}


/* Default */
#handTools, #pliersCutters, #wrench, #sockets, #screwdrivers, #hammers, #sawsBlades, #measuringTools, #workingTools, #WBTools, #workingTools, #buildingTools, #automotive, #ACT, #ARTK, #ATA, #safetyEquipment, #safetyAcc, #safetyDevices, #GTA, #wateringEquipment, #GSP, #others, #WPF, #FTG, #packingMaterial, #locks, #misc {
	display: none;
}


/* ---------------------------------------------------
--------------- PAGE CONTENT STYLE ---------------
----------------------------------------------------- */
/* Page Content */
#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
	margin-left: 0;
}

#content.active {
	width: calc(100% - 300px);
	margin-left: -300px;
}


/* ---------------------------------------------------
----- Contact Email Information -----
----------------------------------------------------- */
#contact_email {
	padding-left: 15px;
	background-color: #2d2b29;
	color: whitesmoke;
	border-bottom: 2px solid #ff6a00;
}

/* Email Icon */
.emailIcon {
	color: #ff6a00;
}


/* ---------------------------------------------------
----- Navbar -----
----------------------------------------------------- */
/* Navbar */
#navbar {
	background-color: white;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
}

/* Toggle Sidebar Button */
#sidebarCollapse {
	font-size: 1.5rem;
	padding: 3px 10px;
}

#sidebarCollapse:hover {
	background: rgba(255, 106, 0, 0.5);
}

/* Toggle Sidebar Text */
#sidebarCollapse span {
	display: none;
}

/* Meiko Logo */
#meikoLogo img {
	width: 150px;
	height: 77px;
}

/*Search Bar　Input*/
#navbar .form-control{
	border-color: rgba(0, 0, 0, 0.5);
	width: fit-content;
}

/*Search Icon*/
.searchIcon {
	color: #ff6a00;
	background-color: white;
	border-color: rgba(0, 0, 0, 0.5);
	transition: 0.4s;
}

.searchIcon:hover {
	color: white;
	background-color: #ff6a00;
}

/*Buttons: Products, About Meiko, Contact Us*/
#navbarItems ul a {
	color: #2d2b29;
	font-size: 1.15rem;
	transition: 0.4s;
}

#navbarItems ul a:hover {
	color: #ff6a00;
	text-decoration: solid;
	text-decoration-color: #ff6a00;
}

/* Search Bar (Small) */
#searchBarSmall {
	display: none;
}


/* ---------------------------------------------------
----- index.blade.php -----
----------------------------------------------------- */

/* ---------------------------------------------------
----- Carousel -----
----------------------------------------------------- */
/* Images */
.carousel-inner img {
	width: 75%;
}

/* Caption */
.carousel-caption {
	color: black;
	letter-spacing: 0.5px;
}

.carousel-caption h5 {
	margin: 0;
}

/* Left-Right Icons */
.fa-chevron-left, .fa-chevron-right {
	font-size: 1.5rem;
	color: orangered;
}

/* Bottom Indicators */

#carousel ol {
	margin-bottom: 1%;
}

.carousel-indicators li {
	background-color: orangered;
}

/* ---------------------------------------------------
----- Grid: About Meiko -----
----------------------------------------------------- */
/* ---Section: About Meiko--- */
#aboutMeikoSec h3 {
	margin: 0;
}

#aboutMeikoSec .fas {
	color: #ff6a00;
	font-size: 1.5rem;
}

#aboutMeikoSec p {
	letter-spacing: 0.25px;
	
}




/* ---------------------------------------------------
----- Contact Us -----
----------------------------------------------------- */
/* Inquiry/Order */
#inquiry {
	display: flex;
	width: 100%;
	height: 250px;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Captcha */
#captchaInput {
	width: 180px;
}


/* ---------------------------------------------------
----- Breadcrumb -----
----------------------------------------------------- */
#breadcrumb ol {
	text-transform: uppercase;
}

.breadcrumb {
	background-color: rgba(66, 134, 244, 0.1);
}

/* ---------------------------------------------------
----- Product Picture & Details -----
----------------------------------------------------- */
/* Picture Container */
#picContainer {
	position: -webkit-sticky;
	position: sticky;
	top: 30px;
}

/* Small Picture Container */
#smallPicsContainer {
	text-align: center;
}

/* Small Pictures */
.smallPic {
	width: 60px;
	/* height: 40px; */
	border: 2px solid rgba(0, 0, 0, 0.25);
	margin-right: 10px;
	opacity: 0.5;
	cursor: pointer;
}

.smallPic:hover {
	border: 2px solid rgba(0, 0, 0, 0.5);
	opacity: 1;
	
}



/* Product Details */
#productDetails h2 {
	border: none;
}


ul li p {
	font-weight: 1000;
}

#productDetails ul {
	letter-spacing: 0.5px;
	font-size: 1.3rem;
}

/* Table */
table {
	width: 100%;
	text-align: center;
}

table, th, td {
	border: 2px solid rgba(0, 0, 0, 0.75);
}

th {
	background-color: rgba(228, 102, 6, 0.8);
	color: #fff;
	text-decoration: solid;
	font-size: 1.1rem;
	width: 20%;
}

td {
	word-break: break-all;
	white-space: pre;
}

/* Card */
#cardGrp {
	display: none;
}

/* ---------------------------------------------------
----- Related Items -----
----------------------------------------------------- */
#relatedItems .card {
	border: none;
}

#relatedItems .card:hover {
	border: 1px solid #ff6a00;
	transform: scale(1.05);
	z-index: 1;
}

/* Card Title */
#relatedItems .card-title {
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}



/* ---------------------------------------------------
----- Heading & Breadcrumbs -----
----------------------------------------------------- */
/* Heading */
#gridSection {
	margin-top: 0;
	margin-bottom: 2%;
}

.gridHeading {
	border: none;
}

.wrench1, .wrench2, #allProducts {
	font-size: 2rem;
}

.wrench1, .wrench2 {
	color: #ff6a00;
}

.wrench1 {
	transform: rotate(225deg);
}

.wrench2 {
	transform: rotate(45deg);
}



/* ---------------------------------------------------
----- Grid/Cards: Products -----
----------------------------------------------------- */
#gridSection .card {
	border: none;
}

#gridSection .card:hover {
	border: 1px solid #ff6a00;
	transform: scale(1.05);
	z-index: 1;
}

/* Card Title */
#gridSection .card-title {
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

/* Card Text */
/* .card-text {
	display: none;
} */


/* ---------------------------------------------------
----- Pagination -----
----------------------------------------------------- */
.page-link {
	color: black;
}

.page-link:hover {
	color: #ff6a00;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #ff6a00;
	border-color: #ff6a00;
}

/* ---------------------------------------------------
----- Footer -----
----------------------------------------------------- */
/* Back to Top */
#footer a:hover {
	color: #ff6a00;
}

/* Button: Toggle Sidebar (small) */
#sidebarCollapseSmall {
	display: none;
}

/* Button: Back to Top (small) */
#goToTop {
	display: none;
}


/* ---------------------------------------------------
----- Overlay -----
----------------------------------------------------- */




/* ---------------------------------------------------
--------------- MEDIAQUERIES ---------------
----------------------------------------------------- */

/* ---------------------------------------------------
----- Small devices (landscape phones, less than 768px) -----
----------------------------------------------------- */
@media (max-width: 768px){
	
	/* ---------------------------------------------------
	--------------- SIDEBAR STYLE ---------------
	----------------------------------------------------- */
	
	/* Sidebar Header */

	#sidebar .sidebar-header {
		background: #2d2b29;
		margin-top: 40px;
		margin-bottom: 30px;
		margin-left: 30px;
		margin-right: 30px;
		padding: 0;
		
	}

	
	/* Dismiss Button */
	#dismiss {
		color: #ff6a00;
		width: 35px;
		height: 35px;
		line-height: 50px;
		text-align: center;
		background: transparent;
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		display: block;
		font-size: 1.7rem;
		font-weight: 100;
	}
	
	
	/* ---------------------------------------------------
	--------------- PAGE CONTENT STYLE ---------------
	----------------------------------------------------- */
	
	#content.active {
		width: 100%;
	}
	
	/* ---------------------------------------------------
	----- Contact Email Information -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Navbar -----
	----------------------------------------------------- */
	/* Navbar */
	.sticky-top {
		position: relative;
		z-index: 99;
	}
	
	/* ---------------------------------------------------
	----- Carousel -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Grid: About Meiko -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Contact Us -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Footer -----
	----------------------------------------------------- */
	
	/* Button: Toggle Sidebar (small) */
	#sidebarCollapseSmall {
		display: block;
	}
	
	#sidebarCollapseSmall .icons{
		background-color: whitesmoke;
		position: fixed;
		bottom: 45px;
		right: 3%;
		border: 1px solid #ff6a00;
		border-radius: 20%;
		padding: 5px;
		z-index: 97;
		display: block;
	}
	
	
	
	
	/* Button: Back to Top (small) */
	#goToTop {
		display: block;
	}
	
	#goToTop .icons {
		background-color: whitesmoke;
		position: fixed;
		bottom:10px;
		right: 3%;
		border: 1px solid #ff6a00;
		border-radius: 20%;
		padding: 5px;
		z-index: 97;
		display: block;
	}
	
	/* #goToTop .icons:hover {
		background: rgba(255, 106, 0, 0.5);
	} */
	
	/* ---------------------------------------------------
	----- Overlay -----
	----------------------------------------------------- */
	.overlay {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 998;
		opacity: 0;
		transition: all 0.1s ease-in-out;
	}
	.overlay.active {
		display: block;
		opacity: 1;
	}
	
}


/* ---------------------------------------------------
----- Extra small devices (portrait phones, less than 576px) -----
----------------------------------------------------- */
@media (max-width: 575.98px) {
	h2 {
		font-size: 1.5rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
	
	/* ---------------------------------------------------
	--------------- SIDEBAR STYLE ---------------
	----------------------------------------------------- */
	
	/* Search Bar */
	#sidebar .form-control{
		width: 240px;
	}
	
	
	/* ---------------------------------------------------
	--------------- PAGE CONTENT STYLE ---------------
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Contact Email Information -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Navbar -----
	----------------------------------------------------- */
	/* Navbar */
	#navbar {
		box-shadow: none;
	}
	
	/* Meiko Logo */
	#buttonLogo {
		width: 100%;
		text-align: center;
	}
	
	/* Search Bar */
	#searchBar {
		display: none;
	}
	
	/* Search Bar (Small) */
	#searchBarSmall {
		display: block;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: 97;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	}
	
	/* Search Bar Input (Small) */
	#searchBarSmallInput {
		display: block;
		width: 300px;
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #495057;
		border-radius: .25rem;
	}
	
	
	/* ---------------------------------------------------
	----- Carousel -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Grid: About Meiko -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Contact Us -----
	----------------------------------------------------- */
	
	/* ---------------------------------------------------
	----- Breadcrumb -----
	----------------------------------------------------- */
	
	/* ---------------------------------------------------
	----- Product Picture & Details -----
	----------------------------------------------------- */
	
	/* Table */
	#table1 {
		display: none;
	}
	
	
	/* Card */
	#cardGrp {
		display: block;
	}
	
	#cardGrp .card ul{
		padding-inline-start: 20px;
		
	}
	
	#cardGrp .card-title {
		text-align: center;
	}
	
	#cardGrp .card ul span {
		color: #ff6a00;
	}
	
	/* ---------------------------------------------------
	----- Related Items -----
	----------------------------------------------------- */
	/* ---------------------------------------------------
	----- Heading & Sort -----
	----------------------------------------------------- */
	
	/* ---------------------------------------------------
	----- Grid/Cards: Products -----
	----------------------------------------------------- */
	.card {
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		margin: 1.5rem auto;
	}
	
	/* ---------------------------------------------------
	----- Pagination -----
	----------------------------------------------------- */
	
	/* ---------------------------------------------------
	----- Footer -----
	----------------------------------------------------- */
	
	
	/* ---------------------------------------------------
	----- Overlay -----
	----------------------------------------------------- */
	
	
}



/* ---------------------------------------------------
----- iPhone5/SE (portrait phones, less than 320px) -----
----------------------------------------------------- */
@media (max-width: 320px) {
	
	/* Search Bar Input (Small) */
	#searchBarSmallInput {
		width: 260px;
	}
	
	
	
}